main {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main i {
    font-size: 4em;
    color: green;
    margin-bottom: 25px;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: correct var(--main-transition) ease infinite alternate;
}
@keyframes correct {
    to {
        transform:translateY(-25px);
    }
}
main h1 {
    font-size: 4em;
    margin-bottom: 15px;
}
main p {
    opacity: 0.5;
    font-size: 1.1em;
    margin-bottom: 50px;
}
main a {
    color: white;
}